body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.signup-container {
    background: #fff;
    padding: 1.25rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 0.625rem rgba(0, 0, 0, 0.1);
    width: 18.75rem;
    text-align: center;
    transition: all 0.3s ease;
}

h2 {
    margin-bottom: 1.25rem;
    color: #333;
    transition: color 0.3s ease;
}

label {
    display: block;
    margin-bottom: 0.3125rem;
    color: #666;
    transition: color 0.3s ease;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: calc(100% - 1.25rem);
    padding: 0.625rem;
    margin-bottom: 0.9375rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
    transition: all 0.3s ease;
}

button {
    width: 100%;
    padding: 0.625rem;
    border: none;
    background-color: green;
    color: #fff;
    font-size: 1rem;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#error-message,
#success-message {
    margin-top: 0.625rem;
    color: red;
    transition: all 0.3s ease;
}

#success-message {
    color: green;
}

#login_frwd {
    display: block;
    width: 12.5rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    transition: all 0.3s ease;
}